<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HuiPaiCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DF4FDDBA1B719CB1001F7F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF4FDDD31B719CB1001F7F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF4FDDDE1B719CB1001F7F15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
